# Bài tập tuần 05
Thực hiện các yêu cầu sau với dữ liệu ‘vn_housing_dataset.csv’:
1. Lấy ra thông tin từ các cột Diện tích, Chiều dài, chiều rộng, Giá nhà
2. Kiểm tra các thông tin bất thường
⇒ Loại bỏ nếu thấy bất hợp lý
3. Chuẩn hóa thông tin (ví dụ: giá nhà với đơn vị “tỷ” thì đổi hết sang đơn vị
“triệu”, nếu có)
4. Lấy thêm thông tin từ cột Ngày tháng, format lại thành “Ngày_Tháng_Năm”
5. Lưu lại dữ liệu đã làm sạch, chuẩn hóa, loại bỏ bất thường… vào file csv
khác.

In [122]:
# Bai 1 dung pandas
# Lấy ra thông tin từ các cột Diện tích, Chiều dài, chiều rộng, Giá nhà
import pandas as pd
import numpy as np

file_path = '/Users/myvo/Downloads/Cybersoft_DA12/DA12_DataSet_Cybersoft/data/vn_housing_dataset/VN_housing_dataset.csv'

data = pd.read_csv(file_path)
house_info = data[['Diện tích', 'Dài', 'Rộng', 'Giá/m2']]

print("Original Data: \n",house_info)

Original Data:
       Diện tích      Dài Rộng           Giá/m2
0         46 m²      NaN  NaN   86,96 triệu/m²
1         37 m²      NaN  NaN  116,22 triệu/m²
2         40 m²     10 m  4 m      65 triệu/m²
3         51 m²  12.75 m  4 m     100 triệu/m²
4         36 m²      9 m  4 m   86,11 triệu/m²
...         ...      ...  ...              ...
82491     38 m²      NaN  NaN   81,58 triệu/m²
82492     50 m²      NaN  NaN     292 triệu/m²
82493     41 m²      NaN  NaN  341,46 triệu/m²
82494     60 m²      NaN  NaN  101,67 triệu/m²
82495     45 m²      NaN  NaN  102,22 triệu/m²

[82496 rows x 4 columns]

In [138]:
# Bai 2 | Kiểm tra các thông tin bất thường ⇒ Loại bỏ nếu thấy bất hợp lý

#  Kiểm tra các thông tin bất thường
nan_data = house_info.isna()
print("NaN Data: \n",nan_data) # Return True if NaN

# ⇒ Loại bỏ nếu thấy bất hợp lý
drop_nan = house_info.dropna(axis = 0, how = "any") 
print("Drop NaN: \n",drop_nan)

# # Kiem tra 
drop_nan.isna().any()

NaN Data:
        Diện tích    Dài   Rộng  Giá/m2
2          False  False  False   False
3          False  False  False   False
4          False  False  False   False
5          False  False  False   False
8          False  False  False   False
...          ...    ...    ...     ...
82355      False  False  False   False
82356      False  False  False   False
82359      False  False  False   False
82361      False  False  False   False
82362      False  False  False   False

[19701 rows x 4 columns]
Drop NaN:
       Diện tích      Dài   Rộng           Giá/m2
2         40 m²     10 m    4 m      65 triệu/m²
3         51 m²  12.75 m    4 m     100 triệu/m²
4         36 m²      9 m    4 m   86,11 triệu/m²
5         46 m²   12.1 m  3.8 m  104,35 triệu/m²
8         75 m²     12 m  6.5 m     120 triệu/m²
...         ...      ...    ...              ...
82355     37 m²     13 m    3 m   43,24 triệu/m²
82356    100 m²     16 m    6 m     115 triệu/m²
82359     80 m²     14 m    5 m   262,5 triệu/m²
82361     89 m²     20 m    4 m  258,43 triệu/m²
82362     90 m²     20 m    4 m   64,44 triệu/m²

[19701 rows x 4 columns]

Diện tích    False
Dài          False
Rộng         False
Giá/m2       False
dtype: bool

In [156]:
# Bai 3 | Chuẩn hóa thông tin (ví dụ: giá nhà với đơn vị “tỷ” thì đổi hết sang đơn vị “triệu”, nếu có)
# Đọc dữ liệu từ cột Gía
gia_nha = drop_nan['Giá/m2']

# Dùng vòng lặp tìm ty/m2 trong cột Giá
for value in gia_nha:
    if 'tỷ' in str(value):
        # Replace từ tỷ sang triệu
        ty_to_trieu = value.replace('tỷ', 'triệu')
        print(ty_to_trieu)

gia_moi = drop_nan['Giá/m2'].str.replace('tỷ', 'triệu')
print("Giá sau khi đổi: \n", gia_moi)

1,2 triệu/m²
1,111111111 triệu/m²
1,8 triệu/m²
2,28 triệu/m²
1,166666666 triệu/m²
2,65 triệu/m²
1,594405594 triệu/m²
1,597222222 triệu/m²
11,5 triệu/m²
6,5 triệu/m²
1 triệu/m²
7,894736842 triệu/m²
1,114285714 triệu/m²
6,833333333 triệu/m²
1,14 triệu/m²
1,79245283 triệu/m²
1,083333333 triệu/m²
1,063829787 triệu/m²
1,55 triệu/m²
1,09375 triệu/m²
66,666666666 triệu/m²
1,09375 triệu/m²
1,033333333 triệu/m²
2.222,22220022 triệu/m²
1,076923076 triệu/m²
728.000,00728 triệu/m²
1 triệu/m²
1,125 triệu/m²
1,083333333 triệu/m²
9,833333333 triệu/m²
5,375 triệu/m²
1,925 triệu/m²
1,625 triệu/m²
1,4 triệu/m²
10 triệu/m²
1,706666666 triệu/m²
2,538461538 triệu/m²
Giá sau khi đổi:
 2            65 triệu/m²
3           100 triệu/m²
4         86,11 triệu/m²
5        104,35 triệu/m²
8           120 triệu/m²
              ...
82355     43,24 triệu/m²
82356       115 triệu/m²
82359     262,5 triệu/m²
82361    258,43 triệu/m²
82362     64,44 triệu/m²
Name: Giá/m2, Length: 19701, dtype: object

In [119]:
# Bài 4| Lấy thêm thông tin từ cột Ngày tháng, format lại thành “Ngày_Tháng_Năm”
date = data[['Ngày']]
print("Ngày trước khi đổi: \n", date)
dateNew = data['Ngày'].str.replace('-','_')
print("Ngày sau khi đổi: \n", dateNew)

Ngày trước khi đổi:
              Ngày
0      2020-08-05
1      2020-08-05
2      2020-08-05
3      2020-08-05
4      2020-08-05
...           ...
82491  2019-08-23
82492  2019-08-07
82493  2019-08-07
82494  2019-08-05
82495  2019-08-05

[82496 rows x 1 columns]
Ngày sau khi đổi:
 0        2020_08_05
1        2020_08_05
2        2020_08_05
3        2020_08_05
4        2020_08_05
            ...
82491    2019_08_23
82492    2019_08_07
82493    2019_08_07
82494    2019_08_05
82495    2019_08_05
Name: Ngày, Length: 82496, dtype: object

In [175]:
# Bài 5 | Lưu lại dữ liệu đã làm sạch, chuẩn hóa, loại bỏ bất thường… vào file csv khác.
# Lưu lại các dữ liệu đã làm sạch trước đó
sum = pd.concat((drop_nan.drop('Giá/m2', axis = 1), gia_moi, dateNew), axis = 1)
# Loại bỏ NaN 
sum = sum.dropna(axis = 0, how = "any").reset_index(drop = True)
print(sum)
sum.to_csv('housing_clean.csv', encoding='UTF8')

      Diện tích      Dài   Rộng           Giá/m2        Ngày
0         40 m²     10 m    4 m      65 triệu/m²  2020_08_05
1         51 m²  12.75 m    4 m     100 triệu/m²  2020_08_05
2         36 m²      9 m    4 m   86,11 triệu/m²  2020_08_05
3         46 m²   12.1 m  3.8 m  104,35 triệu/m²  2020_08_05
4         75 m²     12 m  6.5 m     120 triệu/m²  2020_08_05
...         ...      ...    ...              ...         ...
19696     37 m²     13 m    3 m   43,24 triệu/m²  2020_04_17
19697    100 m²     16 m    6 m     115 triệu/m²  2020_04_17
19698     80 m²     14 m    5 m   262,5 triệu/m²  2020_04_17
19699     89 m²     20 m    4 m  258,43 triệu/m²  2020_04_15
19700     90 m²     20 m    4 m   64,44 triệu/m²  2020_04_15

[19701 rows x 5 columns]